.main-container {
  display: flex;
  flex-direction: column;
}
.logo-container {
  display: flex;
  justify-content: center;
  background-color: #fec210;
  margin-top: 60px;
  width: 300px;

  @media only screen and (min-width: 768px) {
    width: 100%;
    max-width: 689px;
  }
}
.logo-image {
  padding: 18.5px 50px;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 55px 0 0 40px;
  width: 240px;
  height: auto;

  @media only screen and (min-width: 768px) {
    width: 100%;
    max-width: 460px;
    margin: 227px 0 322px 228px;
  }
}

.login-text {
  font-size: 36px;
  font-weight: 700;
}

.error-text {
  color: red;
}

.login-input {
  width: 100%;
  min-width: 228px;
  height: 50px;
  border-radius: 0px;
  padding: 0 10px;
  @media only screen and (min-width: 768px) {
    width: 100%;
    max-width: 450px;
  }
}
.login-label {
  font-size: 18px;
  font-weight: 500;
}

.button {
  font-size: 16px;
  margin-top: 10px;
  padding: 8px 28px 8px 16px;
  color: white;
  background-color: Teal;
}
